
.header {
    display: grid;
    grid-template-columns: 1fr 135px 1fr;
    align-items: center;
    padding: 92px 24px 96px;
}

.header__menu {
    padding-left: 27px;
}

.header__links-list {
    display: flex;
    gap: 32px;
    list-style-type: none;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullet {
    list-style: none;
}

.header__link {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 0.01em;
    text-transform: lowercase;
    border-bottom: 1px solid #000;
}

.header__link_active {
    letter-spacing: 0; 
    border-bottom: none;
}

.address {
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
}

.header__address {
    justify-self: end;
    padding-right: 62px;
}

.cover {
    position: relative;
    z-index: 1;
    padding: 165px 50px 50px;
    background: url("../images/cover.jpg") no-repeat center / cover;
}

.title {
    font-size: 100px;
    letter-spacing: 0.3em;
    margin-bottom: 135px;
    text-transform: uppercase;
    color: #fff;
}

.title_text {
    display: block;
    line-height: 1.15;
}

.title__text-center {
    text-align: center;
    line-height: 1;
    margin: 20px 0;
}

.title__text-right {
    text-align: right;
    line-height: 1;
}

.text_spacing {
    letter-spacing: 0.6em;
}

.no_text_spacing {
    letter-spacing: 0;
}

.text__body {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 79px;
}

.text__body-text {
    font-size: 22px;
    word-spacing: 0.84em;
    text-transform: uppercase;
    color: #fff;
}

.do_it__button {
    font-size: 22px;
    padding: 12px 32px;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid currentColor;
    color: #fff;
}

.lots {
    padding: 179px 24px 0;
}

.heading__lots {
    font-size: 40px;
    margin-left: 40px;
    text-transform: uppercase;
}

.lots__card {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 25px;
    margin: 27px 0 30px;
}

.lots__card-list {
    flex: 1 1 334px;
    min-height: 563px;
}

.link__card{
    text-decoration: none;
}

.overlay {
    position: absolute;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.6);
    inset: 0;

}

.card {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 51px 40px 48px;
    color: #fff;
}

.title__card {
    font-size: 22px;
    text-decoration: underline;
    text-transform: uppercase;
    color: #fff;
}

.text__card {
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
}

.card-film {
    background: url("../images/card-lot-01.jpg") no-repeat center / cover;
}

.card-book {
    background: url("../images/card-lot-02.jpg") no-repeat center / cover;
}

.card-picture {
    background: url("../images/card-lot-03.jpg") no-repeat center / cover;
}

.lots_look-more {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    text-transform: lowercase;
    border-bottom: 1px solid #000;
    margin-left: 40px;
}

.information {
    display: grid;
    grid-template-columns: 240px 1fr;
    gap: 72px;
    padding: 146px 24px 0;
}

.information__column {
    margin: 35px 0 0 47px;
}

.information__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #000;
}

.information__image{
    width: 148px;
}

.information__title {
    font-size: 40px;
    margin: 100px 0;
    text-transform: uppercase;
}

.information__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 24px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 180px 50px 88px;
}

.footer__menu {
    align-self: baseline;
    justify-self: center;
}

.footer__menu-list {
    list-style-type: none;

}

.footer__menu-list-item {
    margin: -3px 0;
    text-align: center;
}

.footer__menu-link {
    font-size: 18px;
    text-decoration: none;
    text-transform: lowercase;
    border-bottom: 1px solid #000;
}

.footer__menu-link_active {
    border: none;
}

.footer__social-list {
    justify-self: end;
}

.footer__social-list {
    display: flex;
    list-style-type: none;
    gap: 48px
}

.footer__social-link {
    display: block;
    width: 48px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 182px 50px 88px;
}

.footer__menu {
    align-self: baseline;
    justify-self: center;
}

.footer__menu-list {
    list-style-type: none;

}

.footer__menu-list-item {
    margin: 0;
    text-align: center;
}

.footer__menu-link {
    font-size: 18px;
    text-decoration: none;
    text-transform: lowercase;
    border-bottom: 1px solid #000;
}

.footer__menu-link_active {
    border: none;
}

.footer__social-list {
    justify-self: end;
}

.footer__social-list {
    display: flex;
    list-style-type: none;
    gap: 48px
}

.footer__social-link {
    display: block;
    width: 48px;
}